h6{
    text-align: center;
    color: grey;
    margin: 0;
    padding: 0;
}
.depth{
    position: absolute;
    width: 80%;
    left: 10%;
    height:auto;

}
#mbody{
    position: relative;
}
#header{
    background-color: mistyrose;
    height: 10vh;
    position: relative;
}
input{
    position: absolute;
    width: 20%;
    left: 40%;
}
html{
    height: 100vh;
}